@use "../variables/colors";
@use "../variables/typography";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  text-align: center;
}

nav {
  background-color: colors.$soft-dark-color;
  border-radius: 50px;
  font-weight: 600;
}

.nav_items {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  justify-content: center;
}

.list_menu_section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: colors.$dark-color;
  border-radius: 20px 20px 0 0;
  align-items: baseline;
}

.list_items_section {
  background-color: colors.$main-light-color;
  max-width: 75vw;
  border-radius: 0 0 20px 20px;
}

.list_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  max-width: 75vw;
}

.list_item {
  background-color: colors.$main-light-color;
  margin: 1rem;
  border-radius: 10px;
  flex: 1;
  text-transform: capitalize;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  min-width: 110px;
  max-width: 110px;
  border: solid 2px colors.$main-light-color;
  transition: 0.5s ease 0s;
}

.list_item:hover {
  border: solid 2px #f9cb3387;
}

.pokemon_image {
  margin: 1rem 0 0 0;
  width: 96px;
  height: 96px;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0px 17px 17px -3px rgba(0, 0, 0, 0.067);
}

.button {
  background-color: colors.$main-light-color;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}

.pokemon_id {
  font-size: 20px;
  font-weight: 700;
  padding: 1rem;
}

.pokemon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 850px;
}

.main_container {
  background-color: #e1e1e1db;
  border-radius: 2rem;
  padding: 1rem 0;
  margin: 1rem 0;
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.066);
}
